/*Estilos Generales*/
html, body, main{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background: linear-gradient(rgb(0, 174, 255), rgb(9, 39, 138));
    height: 100%;
}

/*Fin de estilos Generales*/

/*Inicio Estilos de barra de navegacion*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: rgb(32, 30, 30)  ;
    color: #fff;
    margin: 0px;
  }
  
  .logo img {
    width: 120px;
    height: 70px; 
  }
  
  nav button {
    margin-left: 10px;
    padding: 30px 35px;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
  }

  nav button:hover {
    margin-left: 10px;
    padding: 30px 35px;
    background-color: rgb(238, 235, 55);
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    border-radius: 30px;
  }
/*Fin Estilos de Barra de Navegacion*/

/*Inicio Estilos Home*/
.home{
    display: flex;
    align-items: center;
    gap: 200px;
    height: 82.5%;
  }

.first{
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 82.5%;
    padding: 30px 30px;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.h1{
    color: white;
}

.h3{
    color: yellow;
    font-weight: 900;
}

.log{
    display: flex;
    align-items: center;
    height: 82.5%;
}

.cut2{
    border-radius: 120px;
}
/*Fin Estilos de Navegacion*/

/*Inicio Estilos Tarjeta Integrante 1*/
.label1{
    display: flex;
    gap: 50px;
    height: 82.4vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.miguel{
    flex-direction: column;
    height: 100%;
    width: 50%;
    color: rgb(0, 0, 0);
    margin-left: 15px;
}

.name1{
    color:yellow;
    padding-left: 10px;
    display: flex;
    justify-content: center;
}

.summary1{
    margin: 0;
    padding-left: 10px;
    font-size: 16px;
}

.points{
    flex-direction: row;
    display: flex;
    margin: 0px;
}

.edu{
    padding-left: 10px;
}

.imgmiguel{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgmiguel img {
    width: 350px;
    height: 300px;
    box-shadow: 5px;
}
/*Fin Estilos Tarjeta  Integrante 1*/

/*Inicio Estilos Tarjeta Integrante 2*/
.label2{
    display: flex;
}

.hector{
    flex-direction: column;
    height: 100%;
    width: 50%;
    color: rgb(0, 0, 0);
    margin-left: 15px;
}

.name2{
    color:yellow;
    padding-left: 10px;
    display: flex;
    justify-content: center;
}

.summary2{
    margin: 0;
    padding-left: 10px;
    font-size: 16px;
}

.points2{
    flex-direction: row;
    display: flex;
    margin: 0px;
}

.edu2{
    padding-left: 10px;
}

.imghector{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imghector img {
    width: 350px;
    height: 300px;
    box-shadow: 5px;
    border-radius: 20px;
}

.hidden{
    display: none;
}